<div class=" article-show-hot-list">

  <h5>热评文章</h5>

  <% @article_hots.each do |article_hot| %>
    <hr>
    <div class="row article-show-hot">
      <div class="col-xs-4 all_image_css">
        <% if article_hot.image.present? %>
          <%= link_to image_tag(article_hot.image.thumb.url, class: "img-rounded img-responsive center-block"), official_article_path(article_hot) %>
        <% else %>
          <%= link_to image_tag("http://placehold.it/80x80&text=No Pic", class: "img-circle img-responsive center-block"), official_article_path(article_hot) %>
        <% end %>
      </div>
      <div class="col-xs-8">
          <p><%= link_to(article_hot.title, official_article_path(article_hot)) %></p>
      </div>
    </div>
  <% end %>
  <hr>

</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="group">
      <h5>广告</h5>
      <hr>
    </div> 
  </div>
</div> 


<div class="panel panel-default">
  <div class="panel-body">
    <div class="group">
      
      <%= link_to("我要投稿", new_official_article_path, class: "btn btn-danger btn-block") %>
      
    </div>
  </div>
</div>  
