<div class="panel panel-default">
  <div class="panel-heading">新增话题</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>


<script>
  $("#topic_node_id").select2( { theme: "bootstrap"} );
</script>