<div class="col-md-3 group-item"> 
  <div class="col-md-5 group-image">
    <% if group.logo.present? %>
      <%= link_to image_tag(group.logo.url(:thumb)),group_path(group) %>
    <% end %>
  </div>
  <div class="col-md-7">
    <p><%= link_to group.title,group_path(group) %></p>
    <span>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= group.members.count %>
    </span>
  </div>
</div> 