<div class="col-md-3 group-item"> 
  <div class="group-card">
    <% if group.logo.present? %>
      <%= link_to image_tag(group.logo.url(:group_index_logo)),group_path(group), :target => "_blank" %>
    <% else %>
      <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fnt7p9w5h6j306o06owec.jpg" alt="group_logo">
    <% end %>

    <div class="group-card-title text-center">
      <p ><%= link_to(truncate(group.title,:length => 16) ,group_path(group)) %></p>
      <span>
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= group.members.count %>
      </span>
    </div>

  </div>
</div>
