<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">小组列表</h3>
      </div>
      
      <div class="panel-body">   
        <%= render :partial => "group_item", :collection => @groups, :as => :group %> 
      </div><!-- /panel-body -->
    </div>
  </div>
    
  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_index" %>
  </div>
</div>