<div class="row search-for-topic search-secticon">
  <%= render "groups/search_bar" %>
</div>

<div class="container">
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-body">

        <%= render :partial => "group_item", :collection => @groups, :as => :group %>
        <div class="text-center">
          <%= will_paginate @groups, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
        </div>
      </div><!-- /panel-body -->
      
    </div>
  </div>

  <div class="sidebar col-md-3">
    <%= render "sidebar_for_group_index" %>
  </div>
</div>
