<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">新增小组信息</div>
    <div class="panel-body">
      <%= render "group_form" %>
    </div>
  </div>
</div>