<div class="col-md-3">
  <% if can_editor? %>
    <div class="side-content project-admin">
      <h4>管理操作</h4>
      <hr>
      <%= link_to("更新", edit_meetup_group_path(@meetup_group), class: "btn btn-default")%> &nbsp;
      <%= link_to("删除", meetup_group_path(@meetup_group),    class: "btn btn-default",
                  method: :delete, data: { confirm: "Are you sure?" } )%> &nbsp;
      <%= link_to("全部", meetup_groups_path, class: "btn btn-default")%>
    </div>
  <% end %>
  <div class="side-content meetup_group-admin">
    <p>更多Meetup</p>
    <hr>
    <%= link_to("查看全部Meetup", meetup_groups_path, class: "btn btn-default")%>
  </div>
  <div class="side-content meetup_group-admin">
    <p>更多Meetup</p>
    <hr>
    <p>Mark:后期加入推荐Meetup</p>
  </div>
</div>
