<div class="container">
  <div class="row home-tool-box">
    <a class="tool-item" href="/topics"><img src="/images/home_tool5.png"><p class="title ellipsis">社区</p></a>
    <a class="tool-item" href="/official_articles"><img src="/images/home_tool2.png"><p class="title ellipsis">资讯</p></a>
    <a class="tool-item" href="/projects"><img src="/images/home_tool1.png"><p class="title ellipsis">评级</p></a>
    <a class="tool-item" href="/groups"><img src="/images/home_tool7.png"><p class="title ellipsis">小组</p></a>
    <a class="tool-item" href="/courses"><img src="/images/home_tool3.png"><p class="title ellipsis">课程</p></a>
    <a class="tool-item" href="/meetup_groups"><img src="/images/home_tool9.png"><p class="title ellipsis">活动</p></a>
    <a class="tool-item" href="/jobs"><img src="/images/home_tool4.png"><p class="title ellipsis">机会</p></a>
    <a class="tool-item" href="/sites"><img src="/images/home_tool6.png"><p class="title ellipsis">导航</p></a>
    <a class="tool-item" href="/welcome/about"><img src="/images/home_tool8.png"><p class="title ellipsis">关于</p></a>
  </div>
</div>