<div class='container home-search'>
  <div class='col-lg-8 col-lg-offset-2'>
    <div class='search-nav home-search-nav'>
        <ul class='nav dropup'>
            <li class='active' data-search-link='/official_articles/search' onclick="showSearch(this); return false;" data-placeholder='搜索你感兴趣的资讯信息...' data-kind='official_articles'>
              <a href='#'>资讯</a>
              <span class='caret'></span>
            </li>
            <li data-search-link='/topics/search' onclick="showSearch(this); return false;" data-placeholder='你的问题是什么...' data-kind='topics'>
                <a href='#'>话题</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/courses/search' onclick="showSearch(this); return false;" data-placeholder='输入关键词搜索相关课程...' data-kind='courses'>
                <a href='#'>课程</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/groups/search' onclick="showSearch(this); return false;" data-placeholder='搜索你感兴趣的小组信息...' data-kind='groups'>
                <a href='#'>小组</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/posts/search' onclick="showSearch(this); return false;" data-placeholder='搜索文章关键词...' data-kind='posts'>
                <a href='#'>文章</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/projects/search' onclick="showSearch(this); return false;"  data-placeholder='搜索项目的全称或简称...' data-kind='projects'>
                <a href='#'>项目</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/jobs/search' onclick="showSearch(this); return false;"  data-placeholder='搜索需求方、类别或工作关键词...' data-kind='jobs'>
                <a href='#'>机会</a>
                <span class='caret'></span>
            </li>
            <li data-search-link='/sites/search' onclick="showSearch(this); return false;"  data-placeholder='输入关键词搜索相关网站...' data-kind='sites'>
                <a href='#'>网站</a>
                <span class='caret'></span>
            </li>
        </ul>
    </div>

    <div class="search-input search-preview" >
      <%= form_tag search_official_articles_path , :method => :get, :class => "topics-search-form", :id => "homeSearch" do %>
        <div class="input-group">
          <input  id="homeSearchInput" type="text" class="form-control search-preview-input" name="q" value="<%= params[:q] %>" placeholder="搜索你感兴趣的资讯信息...">

          <span class="input-group-btn">
            <button type="submit" class="btn btn-danger ">
              <span class='ellipsis'>
                  <i class='fa fa-search'></i>
                  搜索
              </span>
            </button>
          </span>
        </div>
      <% end %>
    </div>
  </div>    
</div>

