<div class="panel panel-default">
  <div class="panel-heading">回帖</div>
  <div class="panel-body">
    <%= simple_form_for([@topic, @topic.answers.build]) do |f|%>

      <div class="field">
          <%= f.text_area :content, class: "form-control", label: "添加评论", rows: 5  %>
      </div>
      <br>

       <div class="reviews-form">
         <%= f.submit "提交回复", class: "btn btn-danger pull-right" %>
       </div>

    <% end %>
  </div>

</div>