<div class="panel panel-default">
  <div class="panel-heading">推荐课程</div>
  <div class="panel-body ads-image-css">
    巴拉巴拉了
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">广告位</div>
  <div class="panel-body ads-image-css">
    <img src= "https://ww4.sinaimg.cn/large/006tKfTcly1fnt6b3yncgj30ik0t8dhw.jpg" >
  </div>
</div>
