<div class="row search-for-topic search-secticon">
  <%= render "courses/search_bar" %>
</div>

<div class="container">
  <div class="panel panel-default col-md-10 col-md-offset-1">
    
    <div class="panel-body">

      <br>
      <% if @query_string.blank? %>
          <h4 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h4>
      <% elsif @courses.blank? %>
          <br>
          <h4 class="search-info-title">亲，没有搜索到相关工作信息哦，要不换个关键词试试？</h4>
      <% else %>
          <h4 class="search-info-title"> 有关"<%= @query_string %>"的工作信息 </h4>
          <hr>

          <div class="search-result">

            <% @courses.each do |course| %>
             <div class="course-item">
               <h4><%= link_to(render_highlight_content(course,@query_string), course_path(course)) %></h4>
               <hr>
             </div>
            <% end %>
          </div>
          <% if @jobs.present? %>
          <div class="text-center">
            <%= will_paginate(@courses, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页')) %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>