/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker3";
 @import "font-awesome";
 @import "select2";
 @import "select2-bootstrap";
 @import "social-share-button";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html{
  height: 100%;                                      // footer固定底部
}

body {
  display: flex;                                     // footer固定底部
  flex-direction: column;                            // footer固定底部
  height: 100%;                                      // footer固定底部
  font-family: 'Noto Sans SC', sans-serif;           // google思源黑简作为主字体
  padding: 70px 0 0 0;                               // 腾出navbar的遮挡空间
  position: relative;
  background-color: #F5F5F5;
  font-size: 1.4em;                                   // 网站所有字体缩小比例
  line-height: 1.8em;                   //拉开行高
  color: #666;                                        // 修改全站的 字体主色

  h1,h2,h3,h4,h5{
    color: #000;
  }

  letter-spacing: 0.1em;
  a {                                                 // 所有a标签统一样式
    color: #666;                                      // 链接反转的样式
    transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
  }
  a:hover {
    // color: #7f8c8d;
    background-color: transparent;
    transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
    text-decoration: none;                            // 移除下划线
  }
  a:focus {
    background-color: transparent;
  }
 }

 .main-content{
   /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
      而其他元素该属性值为0，因此不会得到多余的空间*/
   /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 1 0 auto;
 }

 .app-body{
   padding: 0px 56px 0px 65px; //前台页面统一宽度
 }

 .show-content{
   margin: 10px auto;
   padding: 15px 60px;
   border-radius: 1px;
   box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
   min-height: 950px;
   background-color: #FFF;
 }

 .side-content{
   margin: 10px auto;
   padding: 15px 15px;
   border-radius: 1px;
   box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
   // min-height: 950px;
   background-color: #FFF;
   hr{
     // height : 1.5px; // 高度
     background : #263238;// 背景色，一般来说设置了高度之后背景色默认白色了，所以加一个背景色为黑色
   }
 }

// 通用搜索栏背景
.search-secticon{
  margin-top: -20px;
  margin-bottom: 20px;

  height: 170px;
	width: 100%;

  background-image: url(https://ww4.sinaimg.cn/large/006tNc79gy1fnoi97a3x9j31hc0e6dg0.jpg);
  background-repeat:no-repeat;  //背景图片不重复
  background-size: cover; //背景全覆盖，相当于宽度100%
  border-color: transparent;         //边框颜色设置为 透明
  color: #fff;
  .search-input{
    position:relative;
    top: 35%;
    transform: translateY(-10%);  //垂直居中
  }
}

  /* 通用的图片格式 */
   .all_image_css {
     transition: 0.8s;
   }

   .ads_image_css{
     img {
       max-width:100%; height:auto;         //通用广告图片样式。
       }
   }


  /* 头像的圆形图片格式 */
  .avatar-80{
    width: 80px;
  }
  .avatar-50{
    width: 50px;
  }
  .avatar-group-index{
    position:relative;
    width:100%;
    height:0;
    padding-top:100%;
    img{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      border-radius:50%;
    }
  }

  /* 面包屑导航样式 */
 .breadcrumb{
   width: auto;
   background: #fff;
   margin-bottom: 20px;
   padding: 15px;
   border: 1px solid #ddd;
   border-radius: 10px;
 }




  // navbar设置，目前采用该套
 nav{
   /* 我们希望 navbar 采用固定的高度，只占用必须的空间 */
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;

  }

.app-navbar{
  padding: 0px 56px 0px 65px; //拉宽前台navbar
}

.navbar-default{
  color: #000 !important;
  background: rgba(0,0,0,0.3);
  font-size: 1.2em;
  border-color: transparent;                          //边框颜色设置为 透明

  a:focus {
    color: #eb5424 !important;
  }
  &.show_bgcolor {
    background-color: #02061A; //背景颜色
  }

  .navbar-header {
    a {
      font-size: 20px;
      transition: 0.35s;  // 鼠标移开时 0.35秒渐变
    }
    a:hover {
      // color: #D0CFCE;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
    }
  }
  .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    transition: 0.35s;
  }
  .navbar-nav li a:hover {
    color: #FF5722;
    text-decoration: none
  }
  .dropdown li a {
    color: #424242;
    font-size: 16px;
    transition: 0.35s;
  }


}

.navbar-default .navbar-brand {
  color: #FAFAFA; //字体颜色

  padding: 10px 15px; //上下10px，左右15px
  line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF5722; //鼠标放置在链接上的文字颜色

  background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }

  .all_image_css:hover {
    filter:alpha(Opacity=100);
    -moz-opacity:0.4;
    opacity: 0.7;
    transition: 0.8s;
  }




// mega-dropdown

  .mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
      padding: 20px 20px;
      width: 100%;
      box-shadow: none;
      -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
  }

  .carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

  }
  .left.carousel-control {
    right: 30px;
    left: inherit;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
  }

 //footer样式设置

 .footer{
     /* 和 navbar 一样，footer 也采用固定高度*/
     /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
     flex: 0 0 auto;
     width:100%;
     text-align: center;
     min-height: 220px;
     padding-top: 15px;
     background-color: #E0E0E0;
     margin-bottom: auto;
     color: #212121;

     p{
         font-size: 14px;
         text-align: left;
     }

     li{
       margin-top: 3px;
     }

     a{
       text-decoration:none;
       color: #616161;
     }
     a:hover,
     a:active,
     a:focus{
       color: #424242;
     }

     img{
       width: 65px;
       margin: 5px;
     }

     img:hover{
       opacity: 0.75;
     }

     .copyright-info{
       float: left;
       color: #616161;
     }
     .legal-info{
       float: right;
       color: #9E9E9E;
     }
 }
