/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker3";
 @import "font-awesome";
 @import "select2";
 @import "select2-bootstrap";
 @import "social-share-button";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

html{
  height: 100%;                                      // footer固定底部
}

body {
  display: flex;                                     // footer固定底部
  flex-direction: column;                            // footer固定底部
  height: 100%;                                      // footer固定底部
  font-family: 'Noto Sans SC', sans-serif;           // google思源黑简作为主字体
  padding: 70px 0 0 0;                               // 腾出navbar的遮挡空间
  position: relative;
  background-color: #F5F5F5;
  font-size: 1.2em;                                   // 网站所有字体缩小比例
  color: #666;                                        // 修改全站的 字体主色
  
  letter-spacing: 0.1em;
  a {                                                 // 所有a标签统一样式
    color: #666;                                      // 链接反转的样式
    transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
  }
  a:hover {
    color: #7f8c8d;
    transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
    text-decoration: none;                            // 移除下划线
  }
 }

 .main-content{
   /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
      而其他元素该属性值为0，因此不会得到多余的空间*/
   /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 1 0 auto;
 }

 .show-content{
   margin: 10px auto;
   padding: 15px 60px;
   border-radius: 1px;
   box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
   min-height: 950px;
   background-color: #FAFAFA;
 }

 .side-content{
   margin: 10px auto;
   padding: 15px 15px;
   border-radius: 1px;
   box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
   // min-height: 950px;
   background-color: #FAFAFA;
   hr{
     height : 1.5px; // 高度
     background : #424242;// 背景色，一般来说设置了高度之后背景色默认白色了，所以加一个背景色为黑色
   }
 }

  /* 通用的图片格式 */
   .all_image_css {
     transition: 0.8s;
   }


   .all_image_css:hover {
     filter:alpha(Opacity=100);
     -moz-opacity:0.4;
     opacity: 0.7;
     transition: 0.8s;
   }

  // navbar设置
 nav{
   /* 我们希望 navbar 采用固定的高度，只占用必须的空间 */
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;

  }
.navbar-default{
  color: #000 !important;
  background: rgba(0,0,0,0.3);
  font-size: 1.2em;
  border-color: transparent;                          //边框颜色设置为 透明

  a:focus {
    color: #eb5424 !important;
  }
  &.show_bgcolor {
    background-color: #02061A; //背景颜色
  }

  .navbar-header {
    a {
      font-size: 20px;
      transition: 0.35s;  // 鼠标移开时 0.35秒渐变
    }
    a:hover {
      color: #D0CFCE;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
    }
  }
  .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    transition: 0.35s;
  }
  .navbar-nav li a:hover {
    color: #FAFAFA;
    text-decoration: none
  }
  .dropdown li a {
    color: #424242;
    font-size: 16px;
    transition: 0.35s;
  }
}

.navbar-default .navbar-brand {
  color: #FAFAFA; //字体颜色

  padding: 10px 15px; //上下10px，左右15px
  line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FAFAFA; //鼠标放置在链接上的文字颜色

  background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }

 //footer样式设置

 .footer{
     /* 和 navbar 一样，footer 也采用固定高度*/
     /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
     flex: 0 0 auto;
     width:100%;
     text-align: center;
     height: 240px;
     background-color: #E0E0E0;
     margin-bottom: auto;
     padding: 15px 0;
     color: #212121;

     p{
         font-size: 14px;
         text-align: left;
     }

     li{
       margin-top: 5px;
     }

     a{
       text-decoration:none;
       color: #616161;
     }
     a:hover,
     a:active,
     a:focus{
       color: #424242;
     }

     img{
       width: 35px;
       margin: 5px;
     }

     img:hover{
       opacity: 0.75;
     }

     .footer-box{
       text-align: left !important;
       margin-top: 15px;
       .icon{
         margin-left: 7.5px;
       }
       i{
         margin-right: 7.5px;
       }
     }

     .footer-content{
       font-size: 16px;
       color: #616161;
       letter-spacing: 1px;
       margin-top: 10px;
       font-weight: 200;

       img{
         width: 30px;
         margin-left: 7.5px;
         margin-right: -0.1px;
       }
     }
     .copyright-info{
       float: left;
       color: #616161;
     }
     .legal-info{
       float: right;
       color: #9E9E9E;
     }
 }

 /* end of footer */

/* comment */

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

/* end of comment */

