/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker3";
 
html{
  height: 100%;
}

body { 
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 70px 0 0 0;
  position: relative;
  background-color: #F5F5F5;
  
  color: #333;
  font-size: 14px;
  letter-spacing: 0.1em;
 }
 
 .main-content{
   /* 将 flex-grow 设置为1，该元素会占用全部可使用空间 
      而其他元素该属性值为0，因此不会得到多余的空间*/
   /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 1 0 auto;
 }
 
 // .show-content{
 //   margin: 30px auto;
 //   padding: 15px 60px;
 //   border-radius: 1px;
 //   box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.25);
 //   min-height: 950px;
 //   background-color: #FAFAFA;
 // }

 nav{
   /* 我们希望 navbar 采用固定的高度，只占用必须的空间 */
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;
   
  }
.navbar-default{
  background-color: #FAFAFA;  //背景颜色
  // border-color: #212121; //边框色
  margin-bottom: 0; //底部 margin 不撑开距离
  color: #FAFAFA;
}  

.navbar-default .navbar-brand {
  color: #EF6C00; //字体颜色

  padding: 10px 15px; //上下10px，左右15px
  line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00; //鼠标放置在链接上的文字颜色

  background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}

 
 /* footer */

 .footer{
     /* 和 navbar 一样，footer 也采用固定高度*/
     /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
     flex: 0 0 auto;
     width:100%;
     text-align: center;
     height: 240px;
     background-color: #E0E0E0;
     margin-bottom: auto;
     padding: 15px 0;
     color: #212121;

     p{
         font-size: 14px;
         text-align: left;
     }

     li{
       margin-top: 5px;
     }

     a{
       text-decoration:none;
       color: #616161;
     }
     a:hover,
     a:active,
     a:focus{
       color: #424242;
     }

     img{
       width: 35px;
       margin: 5px;
     }

     img:hover{
       opacity: 0.75;
     }

     .footer-box{
       text-align: left !important;
       margin-top: 15px;
       .icon{
         margin-left: 7.5px;
       }
       i{
         margin-right: 7.5px;
       }
     }
     
     .footer-content{
       font-size: 16px;
       color: #616161;
       letter-spacing: 1px;
       margin-top: 10px;
       font-weight: 200;

       img{
         width: 30px;
         margin-left: 7.5px;
         margin-right: -0.1px;
       }
     }
     .copyright-info{
       float: left;
       color: #616161;
     }
     .legal-info{
       float: right;
       color: #9E9E9E;
     }
 }

 /* end of footer */
 
/* comment */

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}
  
/* end of comment */  