// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.job-item{
  font-size: 1em;                               
  line-height: 25px; //文字行高
  color: #777; //字体颜色
  h4,a,i{
    color: #03A9F4; //字体颜色
  }
}

.job-show{             
  line-height: 30px; //文字行高
  color: #777; //字体颜色
  i{
    color: #03A9F4; //字体颜色
  }
  h5, a{
    color: #03A9F4; //字体颜色
  }
  .more-job{
    a{
      color: #fff; //字体颜色
    }
  }
  img {
    max-width:100%; height:auto;         //重要样式代码，需要配合application.js的自适应代码块一起使用。可以实现图片按照divbox大小自动伸缩，从而实现响应式布局。
    border-radius: 6px;                 //为所有图片设置6px的圆角
    }
}

