// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-content{
  img {
    max-width:100%; height:auto;         //重要样式代码，需要配合application.js的自适应代码块一起使用。可以实现图片按照divbox大小自动伸缩，从而实现响应式布局。
    border-radius: 6px;                 //为所有图片设置6px的圆角
    }
}

.topic-index{
  span{
    a{
      color: #424242;
    }
    a:hover {
      color: #F4511E;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }    
  }
}