<div class="panel panel-default">
  <div class="panel-body">

    <div class="site-sidebar">
      <div class="blockchain-explorer">
        <h4>区块查询<span class="pull-right"><%= link_to "更多", "#", target: "_blank" %></h4>
      </div>
      <hr>
      <p>区研币QYB &nbsp;<a href="http://qyb.chainclub.one">QYB chainclub</a></p>
      <p>比特币BTC &nbsp;<a href="https://blockchain.info/">BLOCKCHAIN</a></p>
      <p>以太坊ETH &nbsp;<a href="https://etherscan.io/">EtherScan</a></p>
      <p>BCC BCH &nbsp;<a href="https://blockdozer.com/">BlockDozer</a></p>
      <p>瑞波币XRP &nbsp;<a href="https://bithomp.com/explorer/">Ripple Explorer</a></p>
      <p>莱特币LTC &nbsp;<a href="http://qukuai.com/ltc">区块 LTC</a></p>
      <p>达世币DASH <a href="https://explorer.dash.org/chain/Dash">Dash Blockchain</a></p>
      <p>以太经典ETC &nbsp;<a href="https://gastracker.io/">GasTracker</a></p>
      <p>门罗币XMR &nbsp;<a href="https://moneroexplorer.com/">MoneroExplorer</a></p>
      <p>小蚁股NEO &nbsp;<a href="https://neotracker.io/">NEO Tracker</a></p>
      <p>新经币XEM &nbsp;<a href="http://chain.nem.ninja/">Nembex</a></p>
      <p>Zcash ZEC &nbsp;<a href="https://explorer.zcha.in/">ZCHAIN</a></p>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <div class=" project-sidebar">
      <h4>关注我们</h4>

      <hr>
      <img src= "https://ww1.sinaimg.cn/large/006tKfTcly1fnvjpt7ri1j30ca0c2mxo.jpg" >

    </div>
  </div>
</div>
