<div class="row search-for-project search-secticon">
  <%= render "sites/search_bar" %>
</div>

<div class="container">
  <div class="col-md-8">
    <% if @query_string.blank? %>
        <h4 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h4>
    <% elsif @sites.blank? %>
        <br>
        <h4 class="search-info-title">亲，没有搜索到相关网站信息哦，要不换个关键词试试？</h4>
    <% else %>
        <h4 class="search-info-title"> 有关"<%= @query_string %>"的网站信息 </h4>
        <hr>
        <div id="site_nodes" class="site-body" >
        
          <div class="panel panel-default">
            <div class="panel-body">

              <% @sites.each do |site| %>
                <span> <%= link_to render_site_highlight_content(site,@query_string), site.url, target: "_blank" %>  </span>
                &nbsp; &nbsp;
              <% end %>
            </div>
          </div>

        </div>
    <% end %>    
  </div>
  <div class="col-md-4">
    <%= render "sidebar_for_site_index" %>
  </div>
</div>